$remove_red: #ff4b3e;
$tile-bg: blue;
.city{


  cursor: pointer;

  &:hover{
    stroke: black;
    stroke-width: 4px;
  }

  &.can-start{
    fill: green;
  }

  &.can-end{
    animation: 2s ease 0s pulse infinite;
    stroke-width: 2px;
    stroke: green;
  }
}
@keyframes pulse {
  50% {
    stroke-width: 16px;
  }
}

.arrow-line.connecting{
  &:hover{
    stroke: $remove_red;
    &+marker {
      path{
        fill: $remove_red;
      }
    }
  }
}

.hidden{
  display: none;
}

.historical-map-container{
  width: 800px;
}
