$remove_red: #ff4b3e;
$tile-bg: blue;
.city {

  &.can-start {
    cursor: pointer;
    fill: green;

    &:hover {
      stroke: black;
      stroke-width: 4px;

    }
  }

  &.can-end {
    animation: 2s ease 0s pulse infinite;
    stroke-width: 2px;
    cursor: pointer;
    stroke: green;
  }
}

@keyframes pulse {
  50% {
    stroke-width: 6px;
  }
}

.arrow-line.connecting {

  &.for-remove {
    stroke: $remove_red;
    cursor: pointer;
    & + marker {
      path {
        fill: $remove_red;
      }

    }
  }

  //&:hover{
  //  }
  //}
}

.hidden {
  display: none;
}

.historical-map-container {
  width: 800px;
}
