<meta charset="utf-8">
<title>VueDraggableResizable demo</title>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./VueDraggableResizable.umd.js"></script>

<link rel="stylesheet" href="./VueDraggableResizable.css">
<link rel="stylesheet" href="./machinery_management_task_2.css">

<div id='slider_view'>
    <div v-bind:style="areaStyle" id="test">
        <template v-for="item in items">
            <vue-draggable-resizable :w="pixel_step*item.width" :x="pixel_step*item.x" :y="pixel_step*item.y"
                                     :h="pixel_step*item.height" @dragging="onDrag" @resizing="onResize"
                                     @activated="onActivated(item.id)" @deactivated="onDeactivated"
                                     :min-Height="pixel_step" :min-Width="pixel_step" :grid=[pixel_step,pixel_step]
                                     :parent="true"
                                     :z="z_indexes[item.type]"
                                     v-bind:class="[item.type, 'machine-element']" v-bind:id="item.id">
                <div class="title-wrapper">

                    <div class="title-size" v-if="item.width > 1">
                        {{item.width}}
                    </div>
                    <div class="title-size" v-else>
                        {{item.width}}
                    </div>


                    <div class="title" v-if="item.width > 1">
                        {{item.title}}
                    </div>
                    <div class="title" v-else>
                        {{getLastWord(item.title)}}
                    </div>
                </div>
            </vue-draggable-resizable>
        </template>
        <div class="dividing-line" v-bind:style="dividingLineLeft"></div>
    </div>
</div>

<div id='slider_table' class="x-axis-labels"
     v-bind:style="xLabelsStyle">
    <template v-for="(item,index) in values">
        <vue-draggable-resizable class="axis-label" :resizable="false" :draggable="false" :w="pixel_step"
                                 :h="pixel_step" :x="index*pixel_step" :y="0" :grid=[pixel_step,pixel_step]
                                 :parent="true">
            <div class="label"  v-if="index > (extra_cells_count-1)">{{item}}</div>
        </vue-draggable-resizable>
    </template>
</div>

<div id="machinery_management_task_2_input" style="/*display: none!important;*/">
    <textarea type="text" style="width: 100%;height: 300px;">
    </textarea>
</div>

<script>

    let settings = {
        pixel_step: 32,
        area_height: 14,
        area_width: 19,
        data: [
            {
                "type": "machine",
                "id": "machine_1",
                "duration": 6,
                "title": "Машина"
            },
            {
                "type": "aggregate",
                "id": "aggregate_1",
                "duration": 4,
                "title": "Аггрегат"
            },
            {
                "type": "node",
                "id": "node_1",
                "duration": 4,
                "title": "Узел 1"
            },
            {
                "type": "detail",
                "id": "detail_1_1",
                "duration": 3,
                "title": "Деталь 1.1"
            },
            {
                "type": "detail",
                "id": "detail_1_2",
                "duration": 2,
                "title": "Деталь 1.2"
            },
            {
                "type": "detail",
                "id": "detail_1_3",
                "duration": 4,
                "title": "Деталь 1.3"
            },
            {
                "type": "node",
                "id": "node_2",
                "duration": 5,
                "title": "Узел 2"
            },
            {
                "type": "detail",
                "id": "detail_2_1",
                "duration": 4,
                "title": "Деталь 2.1"
            },
            {
                "type": "detail",
                "id": "detail_2_2",
                "duration": 3,
                "title": "Деталь 2.2"
            },
            {
                "type": "detail",
                "id": "detail_2_3",
                "duration": 3,
                "title": "Деталь 2.3"
            },
            {
                "type": "node",
                "id": "node_3",
                "duration": 6,
                "title": "Узел 3"
            },
            {
                "type": "detail",
                "id": "detail_3_1",
                "duration": 2,
                "title": "Деталь 3.1"
            },
            {
                "type": "detail",
                "id": "detail_3_2",
                "duration": 1,
                "title": "Деталь 3.2"
            },
            {
                "type": "detail",
                "id": "detail_3_3",
                "duration": 4,
                "title": "Деталь 3.3"
            },
            {
                "type": "node",
                "id": "node_4",
                "duration": 3,
                "title": "Узел 4"
            },
            {
                "type": "detail",
                "id": "detail_4_1",
                "duration": 3,
                "title": "Деталь 4.1"
            },
            {
                "type": "detail",
                "id": "detail_4_2",
                "duration": 2,
                "title": "Деталь 4.2"
            },
            {
                "type": "detail",
                "id": "detail_4_3",
                "duration": 3,
                "title": "Деталь 4.3"
            },
            {
                "type": "detail",
                "id": "detail_5",
                "duration": 3,
                "title": "Деталь 5"
            },
            {
                "type": "detail",
                "id": "detail_6",
                "duration": 3,
                "title": "Деталь 6"
            }
        ],
        init_width: 3,
        input: document.querySelector("#machinery_management_task_2_input"),
    };

    let answer = new Answer(settings.input.querySelector("textarea"));

    settings.data = settings.data.reverse().map(function (x, index) {
        x.height = 1;
        x.width = settings.init_width;
        x.x = 0;
        delete x.duration;
        let calc_help = (Math.ceil((index + 1) / settings.area_height)) - 1;
        x.x = calc_help * settings.init_width;
        x.y = settings.area_height - 1 - index;
        if (index >= settings.area_height) {
            x.y = settings.area_height - (index - settings.area_height * calc_help + 1);
        }
        return x;
    });

    if (answer.getJSON()["answer"]) settings.data = Object.keys(answer.getJSON()["answer"]).map(item=>answer.getJSON()["answer"][item]);

    settings.extra_cells_count = Math.ceil(settings.data.length / settings.area_height) * settings.init_width + 1;
    // console.log(settings.extra_cells_count);
    settings.data_obj = settings.data.reduce((acc, cur) => ({...acc, [cur.id]: cur}), {});

    // console.log(settings.data_obj);

    new Vue({
        el: '#slider_view',
        data: {
            data_obj: settings.data_obj,
            pixel_step: settings.pixel_step,
            items: settings.data,
            current_element: undefined,
            z_indexes: {machine: 1, aggregate:10, node: 20, detail: 30},
            extra_cells_count: settings.extra_cells_count,

        },
        methods: {
            onResize: function (x, y, width, height) {
                this.width = width;
                this.height = height;
                this.x = x;
                this.y = y;
                this.data_obj[this.current_element].x = this.x / this.pixel_step;
                this.data_obj[this.current_element].y = this.y / this.pixel_step;
                this.data_obj[this.current_element].width = this.width / this.pixel_step;
                this.data_obj[this.current_element].height = this.height / this.pixel_step;
                answer.setJSON({"answer": this.data_obj});
            },
            onDrag: function (x, y) {
                this.x = x;
                this.y = y;
                this.data_obj[this.current_element].x = this.x / this.pixel_step;
                this.data_obj[this.current_element].y = this.y / this.pixel_step;
                answer.setJSON({"answer": this.data_obj});
                // console.log(this.data_obj[this.current_element])
            },
            onActivated(id) {
                this.current_element = id;
            },
            onDeactivated() {
                this.current_element = undefined;
            },
            getLastWord(l){
                let l_arr = l.split(" ").slice();
                return l_arr.length > 1 ? l_arr[l_arr.length -1 ] : l.slice(0, 3) + ".";
            },
        },
        computed: {
            areaStyle: function () {
                return {
                    height: this.pixel_step * settings.area_height + "px",
                    width: this.pixel_step * (settings.area_width + settings.extra_cells_count) + "px",
                    background: `linear-gradient(-90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px) 0% 0% / ${this.pixel_step}px ${this.pixel_step}px, linear-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px) 0% 0% / ${this.pixel_step}px ${this.pixel_step}px`,
                    position: "relative",
                    border: "1px solid #e6e6e6",
                }
            },
            dividingLineLeft: function () {
                return {
                    left: (this.extra_cells_count*this.pixel_step - 2) + "px",
                }
            }
        }
    });

    new Vue({
        el: '#slider_table',
        data: {
            values: Array.from({length: (settings.area_width + settings.extra_cells_count)}, (v, k) => k + 1).reverse(),
            pixel_step: settings.pixel_step,
            extra_cells_count: settings.extra_cells_count,
        },
        methods: {},
        computed: {
            xLabelsStyle: function () {
                return {
                    height: this.pixel_step + "px",
                    width: this.pixel_step * (settings.area_width + settings.extra_cells_count) + "px",
                    background: `linear-gradient(-90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px) 0% 0% / ${this.pixel_step}px ${this.pixel_step}px, linear-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px) 0% 0% / ${this.pixel_step}px ${this.pixel_step}px`,
                    position: "relative",
                }
            },
        }
    });

    function Answer(elementField) {
        this.elementField = elementField;
        this.fieldValue = "";
        this.fieldObject = {};
        this.get = function () {
            this.fieldValue = elementField.value;
            return this.fieldValue;
        };
        this.set = function (value) {
            if (value === undefined) value = this.fieldValue;
            elementField.value = value;
        };
        this.getJSON = function () {
            if (this.isJsonString(this.get())) this.fieldObject = JSON.parse(this.get());
            return this.fieldObject;
        };
        this.setJSON = function (object) {
            if (object === undefined) object = this.fieldObject;
            this.set(JSON.stringify(object));
        };
        this.isJsonString = function (str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        };
    };

</script>
