/*

types = ["machine", "aggregate", "node", "detail"]

*/

$machine_color: #0074D9;
$aggregate_color: #01FF70;
$node_color: #FF851B;
$detail_color: #AAAAAA;

$machine_element_opacity: 0.76;

#machinery_management_task_2-container, #machinery_management_task_2-answer {

  margin: 10px;

  .task_table {

    .dividing-line {
      border-left: 3px dashed black;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      width: 0px;
    }

    .machine-element {
      border: 1px solid;
      cursor: pointer;

      &.answer-item{
        cursor: default;
      }

      &.machine {
        background: rgba($machine_color, $machine_element_opacity);
      }

      &.aggregate {
        background: rgba($aggregate_color, $machine_element_opacity);
      }

      &.node {
        background: rgba($node_color, $machine_element_opacity);
      }

      &.detail {
        background: rgba($detail_color, $machine_element_opacity);
      }

      .title-wrapper {
        display: flex;
        align-items: center;
        justify-items: center;
        height: 100%;
        text-align: center;
        font-family: monospace;
        user-select: none;

        .title-size {

          position: absolute;
          top: 0;
          right: 0;
          font-size: 0.72em;
          background: white;
          padding: 0 0.1em;
          user-select: none;
          border-bottom-left-radius: 0.2em;
        }

        .title {
          width: 100%;
          font-size: 0.9em;
          white-space: nowrap;
        }
      }


    }

  }

  .x_axis_labels {
    margin-top: -1px;
    margin-left: 1px;

    .axis-label {
      border: none;
      display: flex;
      align-items: center;
      justify-items: center;
      height: 100%;
      text-align: center;
      width: 100%;

      .label {
        width: 100%;
        user-select: none;
      }

    }
  }

  .help_block{
    padding: 1em 0;
  }
}
