.economic-choice {
  padding-bottom: 20px;

  .hint-label, .indicator-container, .explanation-title {
    display: none !important;
  }

  &.two {
    .field {
      width: calc(100% / 2 - 4px);
      display: inline-block;
    }
  }

  &.three {
    .field {
      width: calc(100% / 3 - 4px);
      display: inline-block;
    }
  }

  &.four {
    .field {
      width: calc(100% / 4 - 4px);
      display: inline-block;
    }
  }
}
