$correct-color: #009b00;
$correct-color: white;
$incorrect-color: #cb0712;

#machinery_management_task_3_container {
  width: 820px;
  margin: 0 auto;

  p {
    font-family: monospace;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
    font-size: 14px;
  }

  h1, h2, h3 {
    font-family: monospace;
    padding: 1em 0;
    font-weight: bold;
  }

  .problem-conditions {
    padding: 30px 10px;
    margin: 20px 0px;
    background: whitesmoke;
    font-family: monospace;
  }

  .problem-block {
    padding: 0px 10px;
    margin: 20px 0px;
    font-family: monospace;
    background: #f6f6f6;
    border: 1px solid #c7c7c9;

    .problem-block-task {

      .tact-input {
        box-sizing: border-box;
        font-family: monospace;
        padding: 2px 6px;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type="number"] {
          background: #ffffff00;
        }

        &.correct{
            border: 3px solid $correct-color;
            background: scale-color($correct-color,$lightness:+20%);

        }
        &.incorrect{
            border: 3px solid $incorrect-color;
          background: scale-color($incorrect-color,$lightness:+60%);
        }


      }

      .problem-table {
        width: 100%;
        word-break: initial;
        margin: 0.61575em 0;

        .auto-calculated-cell {
          padding: 2px 6px;
          cursor: default;
          background: #f2f2f2;
        }

        td, th {
          background: white;
          border: 1px solid black;
          padding: 0px;

          select {
            height: 100%;
            border: none;
            box-sizing: content-box;
            width: 100%;
            //font-size: 14px;
            font-family: monospace;
            option {
              font-family: monospace;
            }
          }
        }

        .input-cell {
          height: 25px;
          padding: 0px;

          &.correct{
            background: $correct-color;
            input[type="number"] {
              //color: white;
            }
          }
          &.incorrect{
            background: $incorrect-color;
            input[type="number"] {
              color: white;
            }
          }
        }

        .title-cell {
          padding: 3px;
        }

        .center-cell {
          text-align: center;
        }

        th {
          padding: 3px !important;
          text-align: center;
          font-weight: bold;
        }

        &.problem-table-1 {

        }
        &.problem-table-2 {
          .input-cell{
            width: 150px;
          }
        }

        input[type="number"] {
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          font-family: monospace;
          border: none;
          padding: 2px 6px;
          background: #ffffff00;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &[disabled="disabled"] {
            cursor: not-allowed;
          }

        }

        &.correct{
          //border: 5px solid $correct-color;
        }
        &.incorrect{
          border: 5px solid $incorrect-color;
        }

      }
      //.operation-pair-wrap {
      //
      //}
    }
  }

}


.student-correct-input {
  background: green !important;
  color: white;
}


.congestion-full {
  select {
    background: #7cc07c;
    option{
      background: white;
    }
  }
}

.congestion-low {
  select {
    background: orange;
    option{
      background: white;
    }
  }
}

.congestion-high {
  select {
    background: #ff8a8a;
    option{
      background: white;
    }
  }
}

.percentage-greater-than, .percentage-less-than {
  input {
    background: #ff8a8a;

  }
}
