@charset "UTF-8";
.hidden {
  display: none !important;
  z-index: -999;
}

.hint-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000007a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hint-wrapper .hint-block {
  max-width: 400px;
  text-align: center;
  position: absolute;
  background: #f9f9f9;
  color: #424242;
  padding-top: 6px;
  padding-bottom: 10px;
  z-index: 999;
  border-radius: 5px;
  box-shadow: 1px 2px 6px 2px #3f3f3f;
}
.hint-wrapper .hint-block:before {
  background: #f9f9f9;
  content: "Подсказка";
  color: #0375b4;
  display: block;
  position: absolute;
  padding: 1px 4px;
  margin-left: 14px;
  font-size: 90%;
}
.hint-wrapper .hint-block.en:before {
  content: "Hint";
}
.hint-wrapper .hint-block .hint-text {
  padding: 12px 10px;
  margin: 12px 12px;
  border: 2px dashed #0375b4;
}

#crossword_container .table-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#crossword_container .table-block .row {
  display: flex;
}
#crossword_container .table-block .cell {
  border: 1px solid #dfdfdf;
  background-color: #e4e4e4;
  padding: 0;
  margin: 0;
  position: relative;
  display: inline-flex;
  width: 2.05em;
  height: 2.05em;
}
#crossword_container .table-block .cell span {
  position: absolute;
  top: -1px;
  font-size: 0.68em;
  left: 1px;
  user-select: none;
  cursor: text;
  color: #474747;
  font-weight: 600;
}
#crossword_container .table-block .cell.input {
  background-color: white;
}
#crossword_container .table-block .cell.correct-cell {
  user-select: none;
  background-color: #009b01 !important;
}
#crossword_container .table-block .cell.correct-cell input {
  pointer-events: none;
}
#crossword_container .table-block .cell.correct-cell.active-cell {
  background-color: #26a426 !important;
}
#crossword_container .table-block .cell.active-cell {
  background-color: #bfe8ff;
}
#crossword_container .table-block .cell.active-cell span {
  opacity: 0.7;
}
#crossword_container .table-block .cell input {
  color: #474747;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 0em;
  background-color: #ffffff00;
  font-size: 1.05em;
  border: none;
  text-align: center;
  color: #272727;
  box-shadow: none;
  border-radius: 0px;
  background-image: none;
}
#crossword_container .clues-block {
  margin-top: 20px;
  display: flex;
}
#crossword_container .clues-block h3 {
  text-align: center;
}
#crossword_container .clues-block .horizontal {
  width: 50%;
  padding: 10px 5px;
  border-left: 2px solid #c7c7c9;
  border-right: 1px solid #c7c7c9;
}
#crossword_container .clues-block .vertical {
  padding: 10px 5px;
  width: 50%;
  border-left: 1px solid #c7c7c9;
  border-right: 2px solid #c7c7c9;
}
#crossword_container .clues-block .clue {
  user-select: none;
  padding: 4px;
  margin: 4px 0px;
  color: #333;
  font-size: 80%;
  line-height: 1.4em;
  border-radius: 4px;
}
#crossword_container .clues-block .clue .clue-number {
  font-weight: bold;
}
#crossword_container .clues-block .clue:hover {
  cursor: pointer;
}
#crossword_container .clues-block .clue.correct-clue {
  background-color: #f5f5f5;
  text-decoration: line-through;
  color: #007b01;
}
#crossword_container .clues-block .clue.active-clue {
  background-color: #bee8ff;
}

/*# sourceMappingURL=crossword.css.map */
